@import url(http://fonts.googleapis.com/css?family=Open+Sans:700);
@import url(http://fonts.googleapis.com/css?family=Lato); 

#header1 {
  position: fixed; 
    top: 500px; 
    left: 0; 
    width: 100%; 
}
#header1 span { 
    color: white; 
    font: bold 30px/53px Helvetica, Sans-Serif; 
    letter-spacing: -1px;  
    background: rgb(0, 0, 0); /* fallback color */
    background: rgba(0, 0, 0, 0.7);
    padding: 10px; 
}
#header1 span.spacer {
  padding:0 5px;
}
.btn-lg {
  margin-top:560px;
}

body {
  background: url(/fall.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
    background-size: cover;
  z-index:1;
}

#space {
  padding-bottom: 100px;
}

.well {
  background-color: white;
  height:cover;
  margin-left:auto;
  margin-right:auto;
  left:0;
  right:0;
  overflow:auto;
}
.delete {
  float: right;
  font-weight: bold;
  background: none;
  font-size: 1em;
  border: none;
  position: relative;
}
li.listForm {
  position: relative;
  list-style: none;
  padding: 15px;
  border-bottom: #eee solid 1px;
}
.new-task input {
  padding-bottom: 5px;
}
table {
  width: 1200px;
  margin-left:auto;
  margin-right:auto;
  left:0;
  right:0;
  border-collapse: collapse;
}

#title {
  font-family: 'Open Sans', sans-serif;
  font-size: 40px;
}
      
td {
  height:50px;
  width:160px;
  vertical-align:top;
}
.dayOfWeek {
  width:160px;
}
.timeOfDay {
  width:80px;
}
#startTime {
  float:left;
  padding-right:20px;
}
#endTime {
  float:left;
  padding-right:20px;
}
#capacity {
  float:left;
  padding-right:10px;
}
.checkbox {
  padding-left: 10px;
}

.btn-info {
  bottom: 15px;
  position: relative;
  top: 0px;
  padding: 10px;
}

#cssmenu {
  top: 0;
  background: #f96e5b;
}
#cssmenu ul {
  list-style: none;
  margin: 0;
  padding: 0;
  line-height: 1;
  display: block;
  zoom: 1;
}
#cssmenu ul:after {
  content: " ";
  display: block;
  font-size: 0;
  height: 0;
  clear: both;
  visibility: hidden;
}
#cssmenu ul li {
  display: inline-block;
  padding: 0;
  margin: 0;
}
#cssmenu.align-right ul li {
  float: right;
}
#cssmenu.align-center ul {
  text-align: center;
}
#cssmenu ul li a {
  color: #ffffff;
  text-decoration: none;
  display: block;
  padding: 15px 25px;
  font-family: 'Open Sans', sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 14px;
  position: relative;
  -webkit-transition: color .25s;
  -moz-transition: color .25s;
  -ms-transition: color .25s;
  -o-transition: color .25s;
  transition: color .25s;
}
#cssmenu ul li a:hover {
  color: #333333;
}
#cssmenu ul li a:hover:before {
  width: 100%;
}
#cssmenu ul li a:after {
  content: "";
  display: block;
  position: absolute;
  right: -3px;
  top: 19px;
  height: 6px;
  width: 6px;
  background: #ffffff;
  opacity: .5;
}
#cssmenu ul li a:before {
  content: "";
  display: block;
  position: absolute;
  left: 0;
  bottom: 0;
  height: 3px;
  width: 0;
  background: #333333;
  -webkit-transition: width .25s;
  -moz-transition: width .25s;
  -ms-transition: width .25s;
  -o-transition: width .25s;
  transition: width .25s;
}
#cssmenu ul li.last > a:after,
#cssmenu ul li:last-child > a:after {
  display: none;
}
#cssmenu ul li.active a {
  color: #333333;
}
#cssmenu ul li.active a:before {
  width: 100%;
}
#cssmenu.align-right li.last > a:after,
#cssmenu.align-right li:last-child > a:after {
  display: block;
}
#cssmenu.align-right li:first-child a:after {
  display: none;
}
@media screen and (max-width: 768px) {
  #cssmenu ul li {
    float: none;
    display: block;
  }
  #cssmenu ul li a {
    width: 100%;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    border-bottom: 1px solid #fb998c;
  }
  #cssmenu ul li.last > a,
  #cssmenu ul li:last-child > a {
    border: 0;
  }
  #cssmenu ul li a:after {
    display: none;
  }
  #cssmenu ul li a:before {
    display: none;
  }
}

/* Dropdown Button */
.logout {
  color: #ffffff;
  text-decoration: none;
  display: block;
  font-family: 'Open Sans', sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 14px;
  position: relative;
  -webkit-transition: color .25s;
  -moz-transition: color .25s;
  -ms-transition: color .25s;
  -o-transition: color .25s;
  transition: color .25s;

    background-color: #f96e5b;
    color: white;
    font-size: 14px;
    border: none;
    cursor: pointer;
    padding-left: 0px;
}

/* Dropdown Button */
.group {
  color: #ffffff;
  text-decoration: none;
  display: block;
  font-family: 'Open Sans', sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 14px;
  position: relative;
  -webkit-transition: color .25s;
  -moz-transition: color .25s;
  -ms-transition: color .25s;
  -o-transition: color .25s;
  transition: color .25s;

    background-color: #f96e5b;
    color: white;
    font-size: 14px;
    border: none;
    cursor: pointer;
    padding-left: 0px;
}

/* Dropdown button on hover & focus */
.logout:hover, .logout:focus {
  color: #333333;
}

/* The container <div> - needed to position the dropdown content */
.last {
    position: relative;
    display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f96e5b;
    min-width: 140px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding-right: 10px;
}

/* Links inside the dropdown */
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #f96e5b}

/* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
.show {display:block; z-index:5;position:absolute}