/* CSS declarations go here */
/*.container {
    max-width: 600px;
    margin: 0 auto;
    min-height: 100%;
}*/

#header1 {
  position: fixed; 
    top: 500px; 
    left: 0; 
    width: 100%; 
}

#header1 span { 
    color: white; 
    font: bold 30px/53px Helvetica, Sans-Serif; 
    letter-spacing: -1px;  
    background: rgb(0, 0, 0); /* fallback color */
    background: rgba(0, 0, 0, 0.7);
    padding: 10px; 
}

#header1 span.spacer {
  padding:0 5px;
}

.btn-lg {
  margin-top:500px;

}

body {
  background: url(/2064-8.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
    background-size: cover;
  padding-top: 150px;
  z-index:1;
}


.well {
  background-color: white;
  height:cover;
  margin-left:auto;
  margin-right:auto;
  left:0;
  right:0;
  overflow:auto;

}

.delete {
  float: right;
  font-weight: bold;
  background: none;
  font-size: 1em;
  border: none;
  position: relative;
}

li.listForm {
  position: relative;
  list-style: none;
  padding: 15px;
  border-bottom: #eee solid 1px;
}

.new-task input {
  padding-bottom: 5px;
}

.table-hover {
  width: 1200px;
  margin-left:auto;
  margin-right:auto;
  left:0;
  right:0;
}

td {
  width:800px;
}

.dayOfWeek {
  width:800px;
}

#startTime {
  float:left;
  padding-right:20px;
}

#endTime {
  float:left;
  padding-right:20px;
}

#capacity {
  float:left;
  padding-right:10px;
}

#timeTable {
  float:left;
  }

#calendarTable {
  float:left;
  line-height: 1.7em;
}
