/* CSS declarations go here */
/*.container {
  	max-width: 600px;
  	margin: 0 auto;
  	min-height: 100%;
}*/

#header1 {
	position: fixed; 
   	top: 500px; 
   	left: 0; 
   	width: 100%; 
}

#header1 span { 
   	color: white; 
   	font: bold 30px/50px Helvetica, Sans-Serif; 
   	letter-spacing: -1px;  
   	background: rgb(0, 0, 0); /* fallback color */
   	background: rgba(0, 0, 0, 0.7);
   	padding: 10px; 
}

#header1 span.spacer {
	padding:0 5px;
}

.btn-lg {
	margin-top:500px;

}

body {
	background: url(/2064-8.jpg) no-repeat center center fixed; 
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
  	background-size: cover;
	padding-top: 150px;

}

.whiteContainer {
	background-color: white;
	height:100vh;

}